/* Header start*/

html{
    scroll-behavior: smooth;
}
html *{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: rgb(250, 249, 246);
    height: 75px;
    width: 100%;
}
.logo {
    color: rgb(33, 33, 33);
    font-size: 35px;
    line-height: 75px;
    padding: 0 100px;
    font-weight: 700;
   
    margin: 10px;;
    padding: 5px;
}
.logo span{
    color: rgb(	169,169,169);
}



.navbar ul{
    float:right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    line-height: 75px;
    margin:0 15px;
    position: relative;
}
.navbar ul li a{
    color: rgb(33, 33, 33);
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar ul li a:hover{
    color:rgb(250, 249, 246);
}
.dropdown{
    display: none;
}
.navbar ul li:hover .dropdown{
    display:block;
    position: absolute;
    left: -20px;
    top: 98%;
    
}
.navbar ul li:hover .dropdown ul{
    display: block;
    margin:5px;
   
}
.navbar ul li:hover  .dropdown ul li{
    width: 150px;
    padding: 5px;
   
}
.dropdown ul li a{
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 10px;
}
.navbar ul li:hover .dropdown {
    display: block;
    position: absolute;
    left: -20px;
    top: 98%;
    background-color:rgb(250, 249, 246);  
}




/* Working onn background image */

.center{
    position: absolute;
    top: 35%;
    left: 50%;
    color: rgb(250, 249, 246);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 16px 30px; 
    font-style: italic ;
    text-transform: uppercase;
    text-shadow: 3px 5px 2px #474747;
    
}   


.container .button{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(250, 249, 246);
    font-size: 20pt;
    color: rgb(33, 33, 33);
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 16px 30px;
    border-radius: 10px;
    text-decoration: none;
    
}

